body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f3f4f6;
}

.app {
  min-height: 100vh;
}

.header {
  background: #16171d;
  color: white;
  text-align: center;
  padding: 40px 20px;
}

.header h1 {
  margin: 0 0 10px;
  font-size: 32px;
}

.header p {
  margin: 0;
  color: darkgray;
}

main {
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 20px;
}

.profile-card {
  background: white;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.88);
  max-width: 700px;
  margin: 40px auto;
}

.profile {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e7eb;
}

.avatar {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #16171d;
  color: white;
  border-radius: 50%;
  font-size: 24px;
  font-weight: bold;
}

.profile-info h2 {
  margin: 0 0 5px;
}

.profile-info p {
  margin: 0;
  color: #16171d;
}

.post {
  text-align: left;
  margin-top: 25px;
}

.post h2 {
  margin: 0 0 10px;
}

.post-text {
  margin: 0 0 10px;
  color: #374151;
  line-height: 1.6;
}

.post-authors {
  margin: 0 0 15px;
  font-size: 14px;
  color: #6b7280;
}

.actions{
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.actions-button{
  border: none;
  background: #e5e7eb;
  padding: 10px 18px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.actions-button:hover{
  background: #e5e7eb;
  transform: translateY(-2px);
}

#root {
  text-align: center;
}
